In [7]:
import pandas as pd
import numpy as np

# 1-D transformations

## Create a python list from a tuple


aList = ('a', 'b' , 'c', 'd','e','f','g','h','i', 'j')
aList = list(aList)
aList

## Change a python list to a numpy array

list_to_nparray = np.array(aList)
type(list_to_nparray)

In [81]:
list_to_nparray

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='<U1')

## Change a pythion list to a pandas series

list_to_series = pd.Series(aList)
type(list_to_series)

In [86]:
list_to_series

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

## Change a pandas series to a python list

In [42]:
aSeries = pd.Series(aList)
aSeries

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [66]:
array_back_to_list = aNParray.tolist()
type(array_back_to_list)

list

In [68]:
array_back_to_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

## Change nparray to python list

np_array_to_list  = list_to_nparray.tolist()
type(np_array_to_list)

In [103]:
np_array_to_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

## Change nparray to series

np_array_to_series = pd.Series(list_to_nparray)

type(np_array_to_series)

In [121]:
np_array_to_series

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

## Change series to nparray

series_to_nparray = np_array_to_series.to_numpy()

In [126]:
type(series_to_nparray)

numpy.ndarray

In [171]:
series_to_nparray

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype=object)

# 2-D transformations

# Change python list-of-lists to numpy 2-D array

In [17]:
list_of_tuples = [('a','b','c'), ('l','m','n'),('x','y','z')]

In [21]:
type(list_of_tuples)

list

In [23]:
list_of_lists = list(map(list, list_of_tuples))

In [25]:
type(list_of_lists)

list

In [27]:
list_of_lists = [list(t) for t in list_of_tuples]

In [29]:
type(list_of_lists)

list

In [31]:
list_of_lists = [list(t) for i, t in enumerate(list_of_tuples)]

In [33]:
type(list_of_lists)

list

In [35]:
list_of_lists = []
for tup in list_of_tuples:
    list_of_lists.append(list(tup))

In [37]:
type(list_of_lists)

list

In [39]:
list_of_lists

[['a', 'b', 'c'], ['l', 'm', 'n'], ['x', 'y', 'z']]

In [45]:
l_o_l_to_nparray =  np.array([list_of_lists])

In [47]:
type(l_o_l_to_nparray)

numpy.ndarray

In [49]:
l_o_l_to_nparray

array([[['a', 'b', 'c'],
        ['l', 'm', 'n'],
        ['x', 'y', 'z']]], dtype='<U1')

# Change python list-of-lists to pandas DataFrame

In [68]:
l_o_l__to_df = pd.DataFrame(list_of_lists, columns = ['ABC', 'LMN', 'XYZ'])

In [70]:
type(l_o_l__to_df)

pandas.core.frame.DataFrame

In [72]:
l_o_l__to_df

  ABC LMN XYZ
0   a   b   c
1   l   m   n
2   x   y   z

# Change to pandas DataFrame to python list-of-lists

In [79]:
back_to_list_of_lists = l_o_l__to_df.to_records(index = False)

In [81]:
type(back_to_list_of_lists)

numpy.recarray

In [83]:
back_to_list_of_lists

rec.array([('a', 'b', 'c'), ('l', 'm', 'n'), ('x', 'y', 'z')],
          dtype=[('ABC', 'O'), ('LMN', 'O'), ('XYZ', 'O')])

# Change numpy array to python list-of-lists

In [85]:
back_to_list_of_lists = l_o_l_to_nparray.tolist()

In [88]:
type(back_to_list_of_lists)

list

In [90]:
back_to_list_of_lists

[[['a', 'b', 'c'], ['l', 'm', 'n'], ['x', 'y', 'z']]]

# Change numpy array to dataframe

In [100]:
numpy_array_to_dataframe = pd.DataFrame(l_o_l_to_nparray)

ValueError: Must pass 2-d input. shape=(1, 3, 3)

In [ ]:
type(numpy_array_to_dataframe)

In [103]:
numpy_array_to_dataframe

NameError: name 'numpy_array_to_dataframe' is not defined

# Change dataframe to numpy array

In [93]:
back_to_numpy_array = numpy_array_to_dataframe.to_numpy()

NameError: name 'numpy_array_to_dataframe' is not defined

type(back_to_numpy_array)

back_to_numpy_array